.titulo1_subir{
    text-align: center;

}

.titulobd{
text-align: center;
}
.btnsubir {
text-align: center;


}
 .titulopred{
    text-align: center;
 }

.sele_input{
    text-align: center;
}

.subida{
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  color: #f4f0ff;
  text-align: center;
  position: relative;
  cursor: pointer;

}

.subida::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  background: linear-gradient(
      180deg,
      rgba(8, 77, 126, 0) 0%,
      rgba(8, 77, 126, 0.42) 100%
    ),
   rgba(255, 66, 32, 0.966);
  box-shadow: inset 0 0 12px rgba(243, 34, 34, 0.753);
  z-index: -1;
}

.subida::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(8, 77, 126, 0) 0%,
      rgba(8, 77, 126, 0.42) 100%
    ),
        rgb(144, 247, 61);
  box-shadow: inset 0 0 12px rgba(129, 248, 18, 0.932);
 
  border-radius: 0.5rem;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in;
}

.subida:hover::after {
  opacity: 1;
}

.buttonga{
  margin: 12px;
  height: 50px;
  width: var(--ancho-boton);
  border-radius: 10px;
  background: var(--color-boton);
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px var(--boxshadow1-boton), 5px 5px 15px #222, inset 5px 5px 10px var(--boxshadow2-boton),
    inset -5px -5px 10px var(--boxshadow3-boton);
  font-family: "Damion", cursive;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: rgb(0, 0, 0);
  transition: 500ms;
}

.buttonga.procesar{
  --color-boton: rgb(253, 47, 47);
  --ancho-boton:120px;
  --boxshadow1-boton:crimson;
  --boxshadow2-boton:rgb(245, 86, 118);
  --boxshadow3-boton:#4e1313;
}
.buttonga.filtrar{
  --color-boton: #3ef338;
  --ancho-boton: 180px;
  --boxshadow1-boton:rgb(45, 206, 144);
  --boxshadow2-boton:rgb(82, 240, 19);
  --boxshadow3-boton:#055817;
}
.buttonga.prediccion{
  --color-boton: #d7f338;
  --ancho-boton: 140px;
  --boxshadow1-boton:rgb(248, 234, 35);
  --boxshadow2-boton:rgb(228, 240, 63);
  --boxshadow3-boton:#5b610b;
}

.buttonga.procesar:hover {
  box-shadow: -5px -5px 15px #b13313, 5px 5px 15px #9e2121, inset 5px 5px 10px #e93103,
    inset -5px -5px 10px #a82424;
  color: #000000;
  transition: 350ms;
}
.buttonga.filtrar:hover {
  box-shadow: -5px -5px 15px #1ece4a, 5px 5px 15px #35c961, inset 5px 5px 10px #4cf122,
    inset -5px -5px 10px #3ad834;
  color: #000000;
  transition: 350ms;
}
.buttonga.prediccion:hover {
  box-shadow: -5px -5px 15px #cbce1e, 5px 5px 15px #c9c635, inset 5px 5px 10px #d2f122,
    inset -5px -5px 10px #d8cd34;
  color: #000000;
  transition: 350ms;
}

.centrar{
  text-align: center;
  margin-bottom: 10px;
}
.centrar2{
  display: flex;
  flex-direction: row;
 justify-content: space-evenly;
}
.centrar3{  
  text-align: center;
  margin-bottom: 10px;
}