.bienvenida {
  text-align: center;
}
h3 {
  line-height: 40px;
}

.card {
  margin: 0 auto;
  padding: 2em;
  margin-bottom: 20px;
  background: #020202;
  text-align: center;
  border-radius: 10px;
  position: relative;
  text-shadow: 6px 5px 0 #202020;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    var(--card-color)
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.card.blue {
  --card-color: rgb(57, 57, 243);
}
.card.green {
  --card-color: lime;
}

.card.orange {
  --card-color: orange;
}

.card.red{
  --card-color: crimson; 
}

.card.lightblue{
  --card-color: rgb(63, 190, 233); 
}

.card.yellow{
  --card-color: rgb(225, 240, 22);
}
.card.purple{
  --card-color: rgb(103, 94, 233);
}
