.select-1,.select-2,.select-3,.select-4,.select-5,
::picker(select) {
  appearance: base-select;
}

.select-1,.select-2,.select-3,.select-4,.select-5 {
  background-color: rgb(0, 6, 12);
  transition: background-color 0.2s ease;
  width: 140px;
  font-size: 20px;
  font-weight: bold;
}

.select-1:hover{
    background-color: crimson;
}
.select-2:hover{
    background-color: rgb(92, 154, 196);
}
.select-3:hover{
    background-color: rgb(179, 176, 4);
}
.select-4:hover{
    background-color: rgb(197, 90, 27);
}
.select-5:hover{
    background-color: rgb(84, 74, 233);
}

.select-1,.select-2,.select-3,.select-4,.select-5, option::checkmark{
    order:1;
}
.select-1,.select-2,.select-3,.select-4,.select-5, option::checkmark{
    content: "👈🏼";
}