{% extends 'base.html' %}

{% block title %}
Base de datos
{% endblock %}

{% block content %}

<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_subir.css') }}">
</head>
<div class="container">
    <h2 class="titulobd">Tabla de Consumo Histórico</h2>
</div>
<div class="container">

    <form id="form-anio" action="{{ url_for('tablas.mostrar_tabla') }}" method="get">
        <label for="anio">Seleccionar año:</label>
        <select name="anio" id="anio">
            <option value="">-- Selecciona un año --</option>
            {% for anio in range(2022, 2031) %}
            <option value="{{ anio }}" {% if request.args.get('anio') == anio|string %}selected{% endif %}>{{ anio }}</option>
            {% endfor %}
        </select>
    </form>

    <div style="margin-top: 20px;">
        {{ tabla|safe }}
    </div>
</div>
{% endblock %}
