{% extends 'base.html' %}

{% block title %}
Manual de Usuario
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_manual.css') }}">

<body>
    <div class="card green">
        <h2 class="tituloman">Manual de Uso</h2>
    </div>



    <!-- <p>Aquí irá toda la información del manual...</p> -->
    <style>
        :root {
            --j: 0;
            --p: 1.5
        }

        p:nth-child(2n) {
            --j: 1
        }
    </style>

    <div class="container green">
        <div class="centrarmanual">


            <p style="--i: 0; --slist: lime,#ffffff;">Ir a la sección "Procesos" y hacer click en "Iniciar
                Predicción"</p>
            <p style="--i: 1; --slist: lime,#ffffff;">Las predicciones se realizarán de manera trimestral, por ende
                se debe verificar si en la tabla de predicciones no hay espacios vacíos. Realiza la predicción del
                trimestre y año que sigue</p>
            <p style="--i: 2; --slist: lime,#ffffff;">Ir a la sección "Subir archivo" y sube el archivo del primer
                mes del trimestre, y así hasta rellenar el trimestre, seleccionando el año y mes</p>
            <p style="--i: 3; --slist: lime,#ffffff;">De manera opcional verificar los consumos totales subidos en la
                sección "Consumos totales"</p>

        </div>

    </div>
    <div class="container green">
        <h2>Clasificación del Margen de Error (MAPE)</h2>
        <br>
        <h3>
            El MAPE (Mean Absolute Percentage Error) mide la precisión de las predicciones comparándolas con los valores
            reales.
            En este sistema, los márgenes de error se clasifican para facilitar la interpretación de los resultados:
            <br><br>
            <div style="text-align: center;">
                - <strong>Excelente:</strong> MAPE ≤ 5%<br>
                - <strong>Bueno:</strong> 5% &lt; MAPE ≤ 10%<br>
                - <strong>Regular:</strong> 10% &lt; MAPE ≤ 20%<br>
                - <strong>Bajísimo:</strong> MAPE &gt; 20%<br><br>
            </div>

        </h3>
    </div>



</body>

{% endblock %}