

{% extends 'base.html' %}

{% block title %}
Manual de Usuario
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_manual.css') }}">
    
    <body>
   <div class="container ">
    <h2>Manual de Uso</h2>
   </div>

    <!-- <p>Aquí irá toda la información del manual...</p> -->
    <style>:root { --j: 0; --p: 1.5 }
  p:nth-child(2n) { --j: 1 }
  
</style>

<div class="container">
    <div class="centrarmanual">

<p style="--i: 0; --slist: #8590a7,#ccd6e9;">Cake muffin donut chocolate cake jelly sesame snaps wafer tart pie sweet roll muffin chupa chups. Brownie ice cream gingerbread cookie lemon drops. Liquorice marzipan macaroon sugar plum apple pie soufflé topping dessert.</p>
<p style="--i: 1; --slist: #8590a7,#ccd6e9;">Cake cookie lemon drops muffin sugar plum. Liquorice pudding sugar plum topping macaroon pie chocolate. Dessert gingerbread jelly cake soufflé chocolate cake. Apple pie chocolate bar topping donut powder muffin cake tart.</p>
<p style="--i: 2; --slist: #8590a7,#ccd6e9;">Cake muffin donut chocolate cake jelly sesame snaps wafer tart pie sweet roll muffin chupa chups. Brownie ice cream gingerbread cookie lemon drops. Liquorice marzipan macaroon sugar plum apple pie soufflé topping dessert.</p>
<p style="--i: 3; --slist: #8590a7,#ccd6e9;">Cake cookie lemon drops muffin sugar plum. Liquorice pudding sugar plum topping macaroon pie chocolate. Dessert gingerbread jelly cake soufflé chocolate cake. Apple pie chocolate bar topping donut powder muffin cake tart.</p>
    </div>

</div>




    </body>

{% endblock %}
