{% extends 'base.html' %}

{% block title %}
Predicciones
{% endblock %}

{% block content %}

<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_subir.css') }}">
</head>
<div class="container">
<h2 class="titulopred">Predicciones</h2>
</div>

<div class="container">

<!-- Mensajes flash -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<p style="color: white;">{{ messages[0] }}</p>
{% endif %}
{% endwith %}

<form method="POST" action="/procesar">
    <label for="anio">Año:</label>
    <select name="anio" required>
      {% for y in range(2025, 2031) %}

        <option value="{{ y }}">{{ y }}</option>
      {% endfor %}
    </select>
  </br>
    <label for="trimestre">Trimestre:</label>
    <select name="trimestre" required>
      <option value="01">I (Ene-Mar)</option>
      <option value="04">II (Abr-Jun)</option>
      <option value="07">III (Jul-Sep)</option>
      <option value="10">IV (Oct-Dic)</option>
    </select>
  
    <button type="submit">Procesar</button>
  </form>

  {% set mensajes = get_flashed_messages() %}
  {% if '✅ Proceso completado, prosiga a predecir' in mensajes %}
  <form method="POST" action="/predecir">
    <button type="submit">Predecir y guardar</button>
  </form>
  {% endif %}

 <h3>Tabla de predicciones por año</h3>

<form id="form-anio" method="get" action="{{ url_for('sidebar.predicciones') }}">
    <label for="anio">Seleccionar año:</label>
    <select name="anio" id="anio" onchange="this.form.submit()">
        <option value="">-- Selecciona un año --</option>
        {% for y in range(2025, 2031) %}
        <option value="{{ y }}" {% if anio == y %}selected{% endif %}>{{ y }}</option>
        {% endfor %}
    </select>
</form>

<div style="margin-top: 20px;">
    {{ tabla|safe }}
</div>


  

  
{% endblock %}
  
</div>